@import "partials/base";

@import "partials/reset";
@import "partials/colors";
@import "partials/gird";
@import "partials/parts";
@import "partials/common";

#header{
    $line:60px;
    $outSize:15px;
    @extend %clear;
    background: $gray;
    line-height: $line;
    margin-bottom:40px;
    .logo{
        @extend %p-l;
        margin-left: $outSize;
        h1{
            line-height: $line;
        }
        .go-back{
            background: url("../images/arr.png") no-repeat left center;
            width: 12px;
            height: $line;
            background-size: 12px 24px;
            @extend %none;
            @media (max-width: $xs) {
                //display: block;
            }
        }
        .author{
            @media (max-width: $xs) {
                //display: none;
            }
        }
    }
    .search{
        @extend %p-r;
        margin-right: $outSize;
        line-height: $line;
        .form-control{
            @extend %inline-block;
            border-color: #ccc;
            background-color: transparent;
        }
    }
}
#home{
    $auto-center:70%;
    .pic-wrapper{
        @extend %clear;
        width: $auto-center;
        @media (max-width: $xs) {
            width: 90%;
        }
        margin: 0 auto;
        .col-xs-6{
            padding: 0;
        }
        img{
            @extend %block;
            width: 100%;
        }
        h2,h3,h4{
            @extend %t-center;
        }
        h2{
            margin:15px 0;
        }
        h3{
            margin-bottom:10px;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        h4{
            margin-bottom:5px;
        }
    }
    .remarks{
        p{
            @extend %t-center;
            line-height: 80px;
        }
    }
    .ul-item{
        @extend .clear;
        width: $auto-center;
        @media (max-width: $xs) {
            width: 90%;
        }
        margin: auto;
        li{
            @extend %p-l;
            width: 25%;
            padding: 5%;
            a{
                @extend %block;
                width: 100%;
                height: 100%;
                @extend %t-center;
            }
            span{
                @extend %t-center;
                width: 50px;
                height: 50px;
                line-height: 50px;
                display: inline-block;
                border-radius: 100%;
                background-color: orangered;
            }
            h6{
                @extend %t-center;
                margin-top:5px;
            }
        }
    }
}

#remarks{
    .index{
        margin-right: $innerSize;
        @extend %p-l;
    }
    p{
        @extend %p-l;
        line-height: inherit;
        max-width: 80%;
    }
    .user{
        @extend %p-r;
    }
    .time{
        margin-left: $innerSize;
    }
    margin-bottom:$innerSize;
}