<header id="header">
    <div class="container">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="javascript:;" class="logo">Logo</a>
        </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <ul class="nav">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/list">Blog List</a></li>
                <li><a href="#/media">Media</a></li>
                <li><a href="#/remarks">Remarks</a></li>
            </ul>
        </div>
    </div>
</header>