@charset "UTF-8";
.fieldset {
  position: relative;
}

.fieldset .title {
  position: absolute;
}

.form-block .form-group label, .form-block .form-group input, #header .nav li {
  float: left;
}

.form-block input, .form-block select, .form-block button, .form-block label, .form-control, .thumbnail img, .fieldset {
  display: block;
}

.form-inline input, .form-inline select, .form-inline button, .form-inline label, .thumbnail .caption .details-btn, .fieldset .title {
  display: inline-block;
}

.container:before, .form-block .form-group:before, .clear:before, #header .nav:before, .container:after, .form-block .form-group:after, .clear:after, #header .nav:after {
  content: "";
  display: table;
}
.container:after, .form-block .form-group:after, .clear:after, #header .nav:after {
  clear: both;
  overflow: hidden;
}

.media .pic, .media .text {
  vertical-align: baseline;
}

.media .pic.middle {
  vertical-align: middle;
}

.media .pic.bottom {
  vertical-align: bottom;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

/* Reset
***************************************************************/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.42857143;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* 设置默认字体 */
body,
button, input, select, textarea {
  /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font: 14px Tahoma, Helvetica, Arial, "宋体", sans-serif;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */
  border: 0;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 9px;
}

address, cite, dfn, em, var {
  font-style: normal;
}

/* 将斜体扶正 */
code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace;
}

/* 统一等宽字体 */
small {
  font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol {
  list-style: none;
}

/* 重置文本格式元素 */
a {
  text-decoration: none;
  color: #337ab7;
}
a:hover {
  color: #286090;
}

a:hover {
  text-decoration: underline;
}

abbr[title], acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}

q:before, q:after {
  content: '';
}

:focus {
  outline: none;
}

/* 重置表单元素 */
legend {
  color: #000;
}

/* for ie6 */
fieldset, img {
  border: none;
}

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置 hr */
hr {
  border: none;
  height: 1px;
}

.default {
  background-color: transparent;
}

.primary {
  background-color: #286090;
}

.success {
  background-color: #5cb85c;
}

.warning {
  background-color: #f0ad4e;
}

.error {
  background-color: #d9534f;
}

.font-default {
  color: #111;
}

.font-primary {
  color: #286090;
}

.font-success {
  color: #5cb85c;
}

.font-warning {
  color: #f0ad4e;
}

.font-error {
  color: #d9534f;
}

.border-color-default {
  color: #111;
}

.border-color-primary {
  color: #286090;
}

.border-color-success {
  color: #5cb85c;
}

.border-color-warning {
  color: #f0ad4e;
}

.border-color-error {
  color: #d9534f;
}

.container {
  margin: 0 auto;
}
@media (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 970px) and (max-width: 1170px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 970px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1170px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-1:before, .col-lg-1:after, .col-lg-2:before, .col-lg-2:after, .col-lg-3:before, .col-lg-3:after, .col-lg-4:before, .col-lg-4:after, .col-lg-5:before, .col-lg-5:after, .col-lg-6:before, .col-lg-6:after, .col-lg-7:before, .col-lg-7:after, .col-lg-8:before, .col-lg-8:after, .col-lg-9:before, .col-lg-9:after, .col-lg-10:before, .col-lg-10:after, .col-lg-11:before, .col-lg-11:after, .col-lg-12:before, .col-lg-12:after {
    content: "";
    display: table;
  }
  .col-lg-1:after, .col-lg-2:after, .col-lg-3:after, .col-lg-4:after, .col-lg-5:after, .col-lg-6:after, .col-lg-7:after, .col-lg-8:after, .col-lg-9:after, .col-lg-10:after, .col-lg-11:after, .col-lg-12:after {
    clear: both;
    overflow: hidden;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 970px) and (max-width: 1170px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-1:before, .col-md-1:after, .col-md-2:before, .col-md-2:after, .col-md-3:before, .col-md-3:after, .col-md-4:before, .col-md-4:after, .col-md-5:before, .col-md-5:after, .col-md-6:before, .col-md-6:after, .col-md-7:before, .col-md-7:after, .col-md-8:before, .col-md-8:after, .col-md-9:before, .col-md-9:after, .col-md-10:before, .col-md-10:after, .col-md-11:before, .col-md-11:after, .col-md-12:before, .col-md-12:after {
    content: "";
    display: table;
  }
  .col-md-1:after, .col-md-2:after, .col-md-3:after, .col-md-4:after, .col-md-5:after, .col-md-6:after, .col-md-7:after, .col-md-8:after, .col-md-9:after, .col-md-10:after, .col-md-11:after, .col-md-12:after {
    clear: both;
    overflow: hidden;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 970px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-1:before, .col-sm-1:after, .col-sm-2:before, .col-sm-2:after, .col-sm-3:before, .col-sm-3:after, .col-sm-4:before, .col-sm-4:after, .col-sm-5:before, .col-sm-5:after, .col-sm-6:before, .col-sm-6:after, .col-sm-7:before, .col-sm-7:after, .col-sm-8:before, .col-sm-8:after, .col-sm-9:before, .col-sm-9:after, .col-sm-10:before, .col-sm-10:after, .col-sm-11:before, .col-sm-11:after, .col-sm-12:before, .col-sm-12:after {
    content: "";
    display: table;
  }
  .col-sm-1:after, .col-sm-2:after, .col-sm-3:after, .col-sm-4:after, .col-sm-5:after, .col-sm-6:after, .col-sm-7:after, .col-sm-8:after, .col-sm-9:after, .col-sm-10:after, .col-sm-11:after, .col-sm-12:after {
    clear: both;
    overflow: hidden;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-xs-1:before, .col-xs-1:after, .col-xs-2:before, .col-xs-2:after, .col-xs-3:before, .col-xs-3:after, .col-xs-4:before, .col-xs-4:after, .col-xs-5:before, .col-xs-5:after, .col-xs-6:before, .col-xs-6:after, .col-xs-7:before, .col-xs-7:after, .col-xs-8:before, .col-xs-8:after, .col-xs-9:before, .col-xs-9:after, .col-xs-10:before, .col-xs-10:after, .col-xs-11:before, .col-xs-11:after, .col-xs-12:before, .col-xs-12:after {
    content: "";
    display: table;
  }
  .col-xs-1:after, .col-xs-2:after, .col-xs-3:after, .col-xs-4:after, .col-xs-5:after, .col-xs-6:after, .col-xs-7:after, .col-xs-8:after, .col-xs-9:after, .col-xs-10:after, .col-xs-11:after, .col-xs-12:after {
    clear: both;
    overflow: hidden;
  }

  .col-xs-1 {
    width: 8.33333%;
  }

  .col-xs-2 {
    width: 16.66667%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.33333%;
  }

  .col-xs-5 {
    width: 41.66667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.33333%;
  }

  .col-xs-8 {
    width: 66.66667%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.33333%;
  }

  .col-xs-11 {
    width: 91.66667%;
  }

  .col-xs-12 {
    width: 100%;
  }
}
/*page change animation     Start*/
.view-animate {
  transition: .3s all;
  position: absolute;
  width: 100%;
}

.view-animate.ng-enter {
  opacity: 0;
}

.view-animate.ng-enter-active {
  opacity: 1;
}

.view-animate.ng-leave {
  opacity: 0;
}

.view-animate.ng-leave-active {
  opacity: 1;
}

/*page change animation     End*/
/*buttons   Start*/
.btn {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eeeff4;
  color: #fff;
  padding: 6px 12px;
}

.btn.default {
  color: #000;
}
.btn.default:hover, .btn.default:focus, .btn.default:active {
  background-color: #e6e6e6;
}

.btn.primary:hover, .btn.primary:focus, .btn.primary:active {
  background-color: #286090;
}

.btn.success:hover, .btn.success:focus, .btn.success:active {
  background-color: #449d44;
}

.btn.warning:hover, .btn.warning:focus, .btn.warning:active {
  background-color: #ec971f;
}

.btn.error:hover, .btn.error:focus, .btn.error:active {
  background-color: #d9534f;
}

/*buttons   End*/
/*form      Start*/
.form-inline label {
  font-weight: bold;
}

.form-block label {
  font-weight: bold;
}
.form-block input, .form-block select, .form-block button, .form-block label {
  width: 100%;
}
.form-block .form-group label {
  width: 20%;
}
.form-block .form-group input {
  width: 80%;
}

.form-control {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eeeff4;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*form      End*/
/*clearFloat    Start*/
/*clearFloat    End*/
/*thumbnail     Start*/
.thumbnail {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eeeff4;
  padding: 6px;
}
.thumbnail img {
  width: 100%;
}
.thumbnail .caption .title {
  font-size: 16px;
}
.thumbnail .caption .describe {
  line-height: 30px;
}

/*thumbnail     End*/
/*graphic-introduction  Start*/
.media {
  width: 100%;
  overflow: hidden;
}
.media .pic, .media .text {
  display: table-cell;
}
.media .pic {
  width: 20%;
  padding-right: 15px;
}
.media .text {
  width: 10000px;
}

/*graphic-introduction  End*/
/*item      Start*/
.list-group .title {
  font-size: 16px;
  font-weight: bold;
}
.list-group .item {
  padding: 0 12px;
}
.list-group .item li {
  line-height: 30px;
  border-bottom: 1px solid #ddd;
}
.list-group .item li:hover {
  background-color: #eeeff4;
}

/*item      End*/
/*table     Start*/
.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.table th, .table td {
  padding: 8px;
  line-height: 1.42857143;
  border-top: 1px solid #ddd;
}
.table thead {
  font-weight: bold;
}
.table tbody th {
  font-weight: bold;
}

.bordered th, .bordered td {
  border: 1px solid #ddd;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

/*table     End*/
/*fieldset  Start*/
.fieldset {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #eeeff4;
}
.fieldset .title {
  background: #fff;
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
  left: 15px;
}
.fieldset .describe {
  line-height: 30px;
}

/*fieldset  End*/
#header {
  line-height: 60px;
}
