.default{
    background-color: $transparent;
}
.primary{
    background-color: $blue;
}
.success{
    background-color: $green;
}
.warning{
    background-color: $orange;
}
.error{
    background-color: $red;
}
.font-default{
    color: $black;
}
.font-primary{
    color: $blue;
}
.font-success{
    color: $green;
}
.font-warning{
    color: $orange;
}
.font-error{
    color: $red;
}
.border-color-default{
    border-color: $black;
}
.border-color-primary{
    border-color: $blue;
}
.border-color-success{
    border-color: $green;
}
.border-color-warning{
    border-color: $orange;
}
.border-color-error{
    border-color: $red;
}