body{
    background-color: $gray;
}

#header{
    $line:60px;
    $outSize:10px;
    @extend %clear;
    background: $gray;
    line-height: $line;
    .logo{
        @extend %p-l;
        margin-left: $outSize;
        h1{
            line-height: $line;
        }
    }
    .search{
        @extend %p-r;
        margin-right: $outSize;
        line-height: $line;
        .form-control{
            @extend %inline-block;
            border-color: #ccc;
            background-color: transparent;
        }
    }
}
#footer{
    background: $gray;
    p{
        @extend %t-center;
        line-height: 60px;
    }
}